<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete User</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <ul>
        <li><a href="/">Trang chủ</a></li>
        <li><a href="/create-user">Tạo người dùng</a></li>
    </ul>

    <form action="/delete-user" method="post">
        <fieldset>
            <legend>Confirm delete a user:</legend>
            <input type="hidden" name="id" value="<%=user.id%>">
            <label for="fname">Are you sure delete user with name:</label>
            <input type="text" id="fname" name="name" value="<%=user.name%>"><br><br>
        </fieldset>
        <div class="">
            <button>Confirm</button>
        </div>
    </form>
</body>

</html>