<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update User</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <ul>
        <li><a href="/">Trang chủ</a></li>
        <li><a href="/create-user">Tạo người dùng</a></li>
    </ul>

    <form action="/update-user" method="post">
        <fieldset>
            <legend>Update a user:</legend>
            <input type="hidden" name="id" value="<%=user.id%>">
            <label for="fname">Name:</label>
            <input type="text" id="fname" name="name" value="<%=user.name%>"><br><br>
            <label for="lname">Email:</label>
            <input type="email" id="email" name="email" value="<%=user.email%>"><br><br>
            <label for="email">City:</label>
            <input type="text" id="lname" name="city" value="<%=user.city%>"><br><br>
        </fieldset>
        <div class="">
            <button>Lưu</button>
        </div>
    </form>
</body>

</html>